html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe is black */
    background-color: black;
}

#solarsystem {
  width: 1000px;
  height: 1000px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  position: relative;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    border-color: orange;
    border-width: 17px;
    border-style: dotted;
    border-radius: 50%;

    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
}

#earth {
    height: 130px;
    position: absolute;
    top: 0;
    left: 50%;

    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border-color: #8DD9F2;
    border-width: 14px;
    border-style: double;
    border-radius: 50%;

}

#mercury {
    position: absolute;
    top: -2%;
    left: 60%;

    height: 12px;
    width: 12px;
    border-color: #8F520D;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;

}

#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
     -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

#mercury-orbit {
    position: absolute;
    top: 51%;
    left: 51%;

    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
     -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

#earth {
    height: 130px;
    position: absolute;
    top: 0;
    left: 50%;

    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border-color: #8DD9F2;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;

}


#venus {
    position: absolute;
    top: 0;
    left: 50%;

    height: 40px;
    width: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-color: black;
    border-width: 2px;
    border-style: dashed;
    border-radius: 50%;
}

#venus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
     -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

#mars {
    position: absolute;
    top: 0;
    left: 50%;

    height: 20px;
    width: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

#mars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
     -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }